h1{
    color:rgba(217, 42, 42);
    font-family: tahoma;
    font-size: 300%;    
}
 table{
    border:darkmagenta;
}
div{
    width: 17%;
    height: 30%;
    border: green groove;
    display: inline-block;
    margin: 1%;
    padding: 2%;
}

#parrafo1{
    color: cyan;
}